
.container{
  padding-top: 100px;
}

.jumbotron{
  background-image:url('../assets/images/back.jpg'); background-size: 100%; opacity: 0.8;
  text-align: center;

}

.jumbotron h1{
  font-size: 6.0em;
  color:white;
}

.lead {
  font-size: 2.0em;
}

#instructions{
  text-align: center;
  font-size: 2.0em;
}
