<div class="container">
<div class="jumbotron">
  <h1 class="display-3">Memory Madness</h1>
  <p class="lead">Do you have what it takes to have a Super Memory?</p>
</div>
<div class="row" id="instructions">
  <div class="col-sm-12">
    <p>Test your memory by selecting hero card displayed. Each level has timer which either
       decreseas per level or the level will add more memory cards to be matched.
    </p>
    <hr>
    <button class="btn btn-primary btn-lg" [routerLink]="['/level-one']">Start Game</button>
  </div>
</div>
</div>
